#
# Change this for your deployments
# Save the file copy under globals.env.ps1
#
$SubscriptionName = ""
$Location = ""
$ResourceGroup = ""
$WorkspaceName = "sndbox-azure-arc-law"
$ServicePrincipalName = "Sndbox-Arc-for-Servers"

